<h2>Poems</h2>

<% @poems.each do |poem| %>
  <% present poem, PublicationPresenter do |p| %>
    <div class="publication">
      <h2><%= p.link_to_page %></h2>
      <p><em>Published on <%= p.published %>  by <%= p.author %> - <%= p.type %></em></p>
      <p><%= p.excerpt %></p>
      <p><%= p.taglist %></p>
    </div>
  <% end %>
<% end %>

<%= paginate @poems %>
