<h2>Short Stories</h2>

<% @short_stories.each do |short_story| %>
  <% present short_story, PublicationPresenter do |p| %>
    <div class="publication">
      <h2><%= p.link_to_page %></h2>
      <p><em>Published on <%= p.published %>  by <%= p.author %> - <%= p.type %></em></p>
      <p><%= p.excerpt %></p>
      <p><%= p.taglist %></p>
    </div>
  <% end %>
<% end %>

<%= paginate @short_stories %>